*{margin:0;padding:0;}
::-webkit-scrollbar{width:4px;height:6px}
::-webkit-scrollbar-track{background-color:transparent;}
::-webkit-scrollbar-thumb{background-color:#777;border-radius:4px;}
::-webkit-scrollbar-thumb:hover {background-color:#367fa9}
::-webkit-scrollbar-thumb:active {background-color:#73C0EC}
html,body{width:100%;height:100%;background-color: #e1e4e9;}
.container{width:100%;height:100%;font-family:"Hiragino Sans GB", 'Microsoft YaHei', "WenQuanYi Micro Hei";}
.container a{text-decoration: none;color:#000;}
.container li{list-style: none;padding:.5em;cursor: pointer;}
.chat-window-contain{display:none;z-index:5000;position: absolute;width:50em;height:46em;top:50%;left:50%;margin-top:-23em;margin-left:-25em;background: url("img/theme0.jpg");border:1px solid #C5C1C1;border-radius: 5px;}
.user-list{position: absolute;left:0;top:0;bottom: 0;width:10em;border-right:1px solid #C5C1C1;background-color: rgba(204, 204, 204, 0.8);}
.message-windows{position:absolute;left:10em;top:0;bottom:0;right:0;background-color: rgba(233,233,233,0.8);}
.message-windows>.message-head{width:100%;height:10%;border-bottom: 1px solid #C5C1C1;}
.message-windows>.message-list{width:100%;height:65%;border-bottom: 1px solid #C5C1C1;}
.message-windows>.message-toolbar{width:100%;height:5%;}
.message-windows>.message-toolbar a{margin:.1em .3em;}
.message-windows>.message-send-text{width:100%;height:15%;}
.message-windows>.message-send{width:100%;height:5%;}
.message-send-text>textarea{width:100%;height:100%;outline: none;background-color: rgba(238, 238, 238, 0.76);border:0;}
.message-send>button{margin:0.5em 1em;}
.message-list .message-contain{margin:.5em 0;min-width:6em;cursor:pointer;padding:.5em;border-radius: 3px;background-color:#e1e4e9;display: inline-block;position:relative; }
.message-contain .corner-left,.message-contain .corner-right{width:0;height:0;position:absolute;border:10px solid #eee;top:2px;}
.message-contain .corner-left{border-right:10px solid #e1e4e9;left:-20px;}
.message-contain .corner-right{border-left:10px solid #e1e4e9;right:-20px;}

.chat-interface-contain{z-index:10000;position: absolute;top:5em;right:3em;width:20em;
    height:54em;}
.chat-interface-content-contain{top:0;left:0;bottom:0;right:0;position:absolute;overflow: hidden;background: url("img/theme0.jpg");border-radius: 2px;}
.chat-interface-content-contain .chat-interface-head{color:#fff!important;position: absolute;top:0;left:0;right:0;height:10.8em;border-bottom: 1px solid rgba(238,238,238,0.9);}
.chat-interface-content-contain .chat-interface-content{position:absolute;left:0;right:0;top:10.8em;bottom:3em;background-color: rgba(238, 238, 238, 0.89)}
.chat-interface-content-contain .chat-interface-footer{position: absolute;bottom:0;left:0;right:0;height:3em;border-top:1px solid #ddd;}
.interface-toolbar{width:100%;}
.interface-toolbar .company-name{margin: .5em;float: left}
.interface-toolbar .toolbar{float: right}
.interface-toolbar a{color:#fff;display:inline-block;text-align: center;padding:.2em .5em;}
.interface-toolbar a:last-child:hover{background-color: darkred;}
.interface-userinfo{width: 100%;height: 4em;}
.interface-userinfo .default-user-img{width:4em;height:4em;font-size:3em;background: #00A1CB;margin:0 .5em;}
.interface-userinfo .user-img,.interface-userinfo .username-contain{float: left;}
.user-search>input{margin: .5em 0 0;width:100%;background-color: rgba(255,255,255,0.1);color:#fff;border:0;outline: none;padding:.2em;}
.chat-group{width:100%;padding: .2em;background-color: rgba(238,238,238,0.76);position: relative;}
.chat-group .friend-list,.chat-group .group-list,.chat-group .recent-contact{float: left;margin:0 1em;}
.friend-list>a,.group-list>a,.recent-contact>a{color:#adadad;font-size: 1.4em;text-decoration: none;}
.friend-list>a:hover,.group-list>a:hover,.recent-contact>a:hover{color:#0a6aa1}
.user-group-active{color:#0a6aa1!important;}
.chat-group .up-corner{position: absolute;width:0;height:0;border:.5em solid rgba(255,255,255,0);border-bottom-color:#fff;bottom: -1px;left:1.2em;}
#chat-group>li:nth-child(2){position: relative;}
#chat-group .li-group>a{color:#bbb;margin-right:.3em;}
#chat-group>li:hover{background-color: rgba(228, 225, 225, 0.9);}
#chat-group>li:hover>a{color:#aaa;}
.li-default-top{display:none;position:absolute;top:0;left:0;right:5px;padding:.5em;box-shadow: 0 1px 2px 1px #ccc;background-color: #eee;}
.chat-main-menu{background-color: rgba(187, 187, 187, 0.69);}
.chat-main-menu>a{color:#0a6aa1;font-size: 2em;margin:.3em;border:1px solid rgba(255,255,255,0);text-decoration: none;}
.chat-main-menu>a:hover{border:1px solid #aaa;box-shadow: 0 0 2px 2px #aaa;}
.li-group li{padding-left:0;padding-right:0;}
.li-group li:hover{background-color: #d4b1b1;}
.chat-friends{height:100%;overflow-x: hidden;overflow-y: scroll;}
.chat-interface-content>.chat-contact{position:absolute;background-color: #fff;top:0;left:0;right:0;bottom:0;}
.chat-interface-content-contain>.menu-list{display: none;position:absolute;left:0;bottom:3em;width:10em;background-color:#b0b9ab;box-shadow: 1px 1px 1px 1px #d0c8c8;}
.menu-list li:hover{background-color: #eee;}

#user-list li:hover{background: rgba(255,255,255,0.3);border-radius: 4px;}
.message-head-control>.username{float: left;margin:.5em;}
.message-head-control>.username>span{font-size: 1.4em;}
.message-head-control>.window-control{float:right;}
.window-control>a{display:inline-block;width:2em;height:2em;margin:0;vertical-align:middle;text-align: center;color:#777;}
.window-control>a>i{margin:7px 0;}
.window-control>.window-normal:hover{background-color: #1c8ed0;color:#fff;}
.window-control>.window-close:hover{background-color: darkred;color:#fff;}
.user-active{background: rgba(255,255,255,0.8)!important;border-radius: 4px;}
#user-list .user-close{position:absolute;right:.5em;color:#444;margin-top:.2em;display:none;}
#user-list .user-close:hover{color:#ff0000;}
#user-list li:hover .user-close{display:inline-block;}
.dlg-index{z-index:7000;}
.user-message-list{width:100%;height:100%;display:none;}

.glb-hidden{display:none;}
